name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        python-version: [3.8, 3.9, '3.10', '3.11']
    
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0  # Нужно для SonarCloud
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -e ".[dev]"
    
    - name: Run linter
      run: make lint
    
    - name: Run tests with coverage
      run: make test-coverage
    
    - name: Fix coverage paths for SonarCloud
      run: |
        sed -i 's/\/home\/runner\/work\/python-project-50\/python-project-50\//\/github\/workspace\//g' coverage.xml
    
    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}